@model IEnumerable<MobilePhoneForHomeVM>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop.Web</title>
    <link href='@(Url.Content("~/css/home.css") + "?v=" + Guid.NewGuid().ToString())' rel='stylesheet' type='text/css' />
</head>

<section id="container">
    <article class="container-title">
        <h1 class="home-title">Mobile Galactica</h1>
    </article>
    <article class="container container-best-sellers">
        <div class="row">
            @foreach (var phone in Model)
            {
                <div class="col-lg-4 container-card">
                    <a asp-controller="MobilePhone" asp-action="Details" asp-route-mobilePhoneId="@phone.Id">
                        <div class="card" style="width: 18rem;">
                            <img src="~/images/@phone.MainImage" class="card-img">
                            <div class="card-body">
                                <h5 class="card-title">@phone.Brand @phone.Name</h5>
                                <div class="bestseller-icon">
                                    <p class="bestseller-title">
                                        Best
                                    </p>
                                </div>
                            </div>
                            <div class="hover-msg">
                                <i class="fas fa-mouse fa-3x" id="mouse-icon"></i>
                                <h4 class="hover-msg-msg">Click for more</h4>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </article>
    <article class="container-btn">
        <a asp-controller="MobilePhone" asp-action="Index">
            <div class="to-list-btn">
                <p class="to-list-title">Check More</p>
                <i class="fas fa-arrow-right fa-2x"></i>
            </div>
        </a>
    </article>
</section>