@model List<OnlineShop.Web.Application.ViewModels.ShippingAddress.ShippingAddressVM>

<div class="details-container" id="list">
    <div class="shipping-address-title">
        <p>Choose delivery address</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="shipping-address-th">
                    Choose
                </th>
                <th class="shipping-address-th">
                    City
                </th>
                <th class="shipping-address-th">
                    Postal Code
                </th>
                <th class="shipping-address-th">
                    Street
                </th>
                <th class="shipping-address-th">
                    House Number
                </th>
                <th class="shipping-address-th">
                    Flat Number
                </th>
                <th class="action-th shipping-address-th">
                    Actions
                </th>
            </tr>
        </thead>

        @if (Model.Count > 0)
        {
            <tbody>
                @foreach (var address in Model)
                {
                    <tr class="table-row">
                        <td>
                            <partial name="_ChooseShippingOrder" model="@address" />
                        </td>
                        <td>
                            @address.City
                        </td>
                        <td>
                            @address.PostalCode
                        </td>
                        <td>
                            @address.Street
                        </td>
                        <td>
                            @address.HouseNumber

                        </td>
                        <td>
                            @address.FlatNumber
                        </td>
                        <td class="action-td" id="action-shipping-address">
                            <a asp-controller="ShippingAddress" asp-action="EditShippingAddress" asp-route-shippingAddressId="@address.Id">
                                <div class="btn btn-primary action-btn">
                                    <p class="action-desc">Update</p>
                                </div>
                            </a>
                            <a asp-controller="ShippingAddress" asp-action="DeleteShippingAddress" asp-route-shippingAddressId="@address.Id">
                                <div class="btn btn-primary action-btn">
                                    <p class="action-desc">Remove</p>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        }
        else
        {
            <tfoot>
                <tr class="tfoot">
                    <td colspan="6" class="shipping-address-summary">
                        <p class="shipping-address-p">
                            You don't have any shipping address.
                        </p>
                        <a asp-controller="ShippingAddress" asp-action="AddShippingAddress">
                            <p class="shipping-address-p">
                                Add New One
                            </p>
                        </a>
                    </td>
                </tr>
            </tfoot>
        }

    </table>
</div>

<div class="add-shipping-address-btn-container">
    <a asp-controller="ShippingAddress" asp-action="AddShippingAddress">
        <div class="add-shipping-address-btn">
            <p class="shipping-address-p">
                Add New One
            </p>
        </div>
    </a>
</div>