@model IEnumerable<MobileForListVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="list">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="card">
                    <img src="~/images/@item.MainImage" class="card-img-top" id="photo">
                    <div class="card-body">
                        <div class="title-container">
                            <h3 id="brand" class="card-title">@Html.DisplayFor(modelItem => item.Brand)</h3>
                            <h3 id="model"class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <h4 id="price" class="card-text">@Html.DisplayFor(modelItem => item.Price) <span class="price-currency">zl</span></h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        @*<a href="#" class="btn btn-primary">Learn more</a>*@
                    </div>
                    <div class="hover-msg">
                        <i class="fas fa-mouse fa-3x" id="mouse-icon"></i>
                        <h4 class="hover-msg-msg">Click for more</h4>
                    </div>
                </div>
            </div>

            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainImage)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>*@
        }
    </div>
</div>

