@model IEnumerable<MobileForListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <img src="~/images/@item.MainImage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Brand)</h4>
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <h2 class="card-text">@Html.DisplayFor(modelItem => item.Price)</h2>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainImage)
                </td>
                <td>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>*@
    }
</div>

