@model OnlineShop.Web.Application.ViewModels.Order.OrderVM

<div class="details-container" id="list">
    <div class="shipping-address-title">
        <p>Check your order</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Photo
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCartVM.Items)
            {
                <tr class="table-row">
                    <td>
                        <figure class="table-image-continer">
                            <img class="d-block w-100" id="table-image" src="~/images/@item.MobilePhoneRef.MainImage">
                        </figure>
                    </td>
                    <td>
                        @item.MobilePhoneRef.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @{var price = item.Quantity * item.MobilePhoneRef.Price;}
                        @price
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="tfoot">
                <td colspan="5" class="total">
                    <p class="totalP">
                        Total Price: @Model.ShoppingCartVM.Total
                    </p>
                </td>
            </tr>
        </tfoot>
    </table>

</div>

<div class="details-container" id="list">
    <div class="shipping-address-title">
        <p>Check you order address</p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="shipping-address-th">
                    Choose
                </th>
                <th class="shipping-address-th">
                    City
                </th>
                <th class="shipping-address-th">
                    Postal Code
                </th>
                <th class="shipping-address-th">
                    Street
                </th>
                <th class="shipping-address-th">
                    House Number
                </th>
                <th class="shipping-address-th">
                    Flat Number
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row">
                <td>
                    <a asp-controller="Order" asp-action="OrderSummary" asp-route-shippingAddress="@Model">
                        <div class="btn btn-primary choose-shipping-address-btn">
                            <i class="far fa-hand-pointer"></i>
                        </div>
                    </a>
                </td>
                <td>
                    @Model.ShippingAddressVM.City
                </td>
                <td>
                    @Model.ShippingAddressVM.PostalCode
                </td>
                <td>
                    @Model.ShippingAddressVM.Street
                </td>
                <td>
                    @Model.ShippingAddressVM.HouseNumber
                </td>
                <td>
                    @Model.ShippingAddressVM.FlatNumber
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="check-out-container">
    <form asp-controller="Order" asp-action="Finalize" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.ShippingAddressVM.Id" id="Id" class="form-control form-shipping-input" value="@Model.ShippingAddressVM.Id" />
        </div>
        <div class="check-out">
            <input type="submit" value="Order" />
            @*<p class="check-out-btn" id="check-id-btn">I Order!<i class="fas fa-truck fa-2x"></i></p>*@
        </div>
    </form>
</div>

